.conteiner-card {
    margin: 0 5% 5%;
    background-color: #15ff0062;
    width: 300px;
    height: 450px;
}

.button-close{
    height: 20px;
    width: 20px;
    position: relative;
    margin: 5px;
}

.onCLose{
    height: 23px;
    width: 23px;
    padding: 0;
    background: #2c2c2cb4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.onCLose:hover {
    background: #ff0000;
}

img {
    width: 300px;
    height: 300px;
    margin: -30px 0;
}

.nombres {
    background: #099b87;
    width: 250px;
    height: 25px;
    position: relative;
    padding: 5px 0 0 5px;
    margin: 0 0 10px;
}

h2 {
    color: #ffffff;
    display: flex;
    justify-content: space-around;
}