.search{
    width: 100%;
    height: 60px;
    margin: 0 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

input {
    border-color: green;
    border-radius: 10px;
    background-color: #09af03;
    height: 40px;
    width: 300px;
    padding: 10px;
    margin: 10px;
}

.button{
    margin: 10px;
    height: 40px;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2px;
    font-size: 18px;
    font-family: 'Major Mono Display', monospace;
    background-color: #09af03;
    color: #ffffff;
}

/* button:hover {
    font-weight: bold;
    font-size: 19px;
    
} */ 

