* {
   border: 0;
   margin: 0;
}

.App {
   /* background-image: url(images/rickymorty-pixel.gif); */
   
   font-family: 'Major Mono Display', monospace;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   
}
